.col-def-sort {
}

@media (max-width: 768px) {
  .col-def-sort {
    order: 2;
    width: 80%;
    display: none;
  }
}

.col-def {
  width: 50%;
}

@media (max-width: 768px) {
  .col-def {
    width: 100%;
    margin-bottom: 4em;
  }
}

@media (max-width: 768px) {
  .col-def {
    width: 100%;
    margin-bottom: 4em;
  }
}

.adj-fonts {
  font-size: 2.9vw;
  margin-bottom: 1em;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 768px) {
  .adj-fonts {
    font-size: 4vw;
    margin-bottom: 1em;
    font-family: Montserrat, sans-serif;
  }
}

.p_adj {
  margin-bottom: 3em;
  font-size: 1em;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 768px) {
  .p_adj {
    margin-bottom: 3em;
    font-size: 3vw;
    font-family: Montserrat, sans-serif;
  }
}

/* ========================      BUTTON THREE======================== */

.box-anim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 150px;
  cursor: pointer;
}

.btn-three {
  color: #0d0c0c;
  transition: all 0.5s;
  position: relative;
}

.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}

.btn-three:hover::before {
  opacity: 0;
  transform: scale(0.5,0.5);
}

.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(0,0,0,0.5);
  transform: scale(1.2,1.2);
}

.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.max_container {
  max-width: 100% !important;
}

@media (min-width: 576px) {
  .lmax_width {
    background: rgba(251,255,250,0.46);
    min-width: 533px;
  }
}

.lmax_width {
  background: rgba(251,255,250,0.46);
}

@media (min-width: 992px) {
  .dp {
    width: 8em !important;
  }
}

@media (min-width: 776px) {
  .dp {
    width: 8em !important;
  }
}

.dp {
  width: 29vw;
}

@media (min-height: 740px) {
  .hieght_adj {
    padding-top: 64px;
  }
}

.img_size {
  width: 80%;
}

@media (min-height: 875px) {
  .img_size {
    width: 100%;
  }
}

.image-section {
  height: 100vh;
  background-color: #fff;
}

.image-section::before {
  content: "";
  top: 0;
  right: 40px;
  width: 40%;
  height: 100%;
  background-image: url('../../assets/img/clipboard-image-13.png');
  background-size: auto;
  background-position: right;
  background-repeat: no-repeat;
  opacity: 1;
}

.stnd-up {
  width: 100%;
  display: none;
}

@media (min-width: 992px) {
  .stnd-up {
    width: 100%;
    display: inline;
  }
}

